@font-face {
  font-family: "Right Grotesk";
  src:
    url("/fonts/PPRightGroteskText-Regular.woff2") format("woff2"),
    url("/fonts/PPRightGroteskText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Right Grotesk";
  src:
    url("/fonts/PPRightGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/PPRightGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Right Grotesk Compact";
  src:
    url("/fonts/PPRightGrotesk-CompactRegularItalic.woff2") format("woff2"),
    url("/fonts/PPRightGrotesk-CompactRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
